.latest-posts{
    position: relative;
    
}

.latest-post{
    overflow: hidden;

    &::before{
        content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .3;
    z-index: 20;
    }

    img{

        width: 100%;
        height: 450px;
        object-fit: cover;
        position: relative;
    }

    &:hover img{
        transform: scale(1.2);
        transition: .5s;
    }

    .title{
        position: absolute;
        bottom: 0;
        z-index: 20;
        color: white;
        padding: 20px;
        width: 75%;
    }
}

